<img src="../Img/banner-fa-49-2.png">

29 ноября 2022 года, вторник<br>
Семинары: <br>
15.40-17.10, 5-я пара;<br>
17.20-18.50, 6-я пара<br>
ВМ_стр1/ауд.201-1(кк) (ул. Верхняя Масловка, д. 15, стр. 1)<br>
УЦИ21-1

3 декабря 2022 года, суббота<br>
Семинары:<br>
14.00-15.30, 4-я пара;<br>
15.40-17.10, 5-я пара<br>
ВМ_стр1/ауд.207-1(кк) (ул. Верхняя Масловка, д. 15, стр. 1)<br>
УЦИ-21-2

Преподаватель: Смирнов Михаил Викторович,<br>
доцент Департамента Анализа данных и машинного обучения<br>
Финансового университета при Правительстве Российской Федерации

# Библиотека Pandas

In [1]:
import pandas as pd

# Раздел 1. Создание таблиц из коллекций

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.1</p>

Имеется *серия*, содержащая числа от 10 до 1000. Какое число содержит элемент с индексом 175? Вычислите разность элементов с индексами 900 и 16.

In [4]:
# 1.1. Ваш код здесь
s = pd.Series(range(10,1001))

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.2</p>

Мебельная фабрика выпускает продукцию  наименований: диваны, кровати, трюмо. Создайте таблицу *DatаFrame*, содержащую: количество призведенной продукции каждого наименования, остаток на складе фабрики. Наименования разместите в строках, а количество и остаток в столбцах.

In [4]:
# 1.2. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.3</p>

Разделите столбец **car** таблицы **market** на два столбца: **mark** (марка) и **model** (модель).

```
market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyunday Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})
```

In [16]:
# 1.3. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.4</p>

Имеются исторические данные о цене акции в виде таблицы DataFrame.

```
history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
```
Найдите минимальную и максимальную цены закрытия, стандартное отклонение цены открытия, среднее значение самой низкой (Low) цены и медиану самой высокой (High) цены.

In [13]:
# 1.4. Ваш код здесь

# Раздел 2. Извлечение данных по условию

### Работа с набором данных *Financial Sample*

In [2]:
with open('../Data/FinancialSampleFields.csv', encoding='utf-8') as f:
  content = f.readlines()
  content = [x.replace('\n','').split(';') for x in content]

pd.DataFrame(content[1:],columns = content[0])

                  Name                          Meaning
0              Segment                    Сегмент рынка
1              Country                           Страна
2              Product                        Сделано в
3         DiscountBand                    Группа скидок
4            UnitsSold                     Продано штук
5   ManufacturingPrice                Цена производства
6            SalePrice              Цена единицы товара
7           GrossSales                  Валовая продажа
8            Discounts                           Скидка
9                Sales          Стоимость партии товара
10                COGS  Себестоимость проданных товаров
11              Profit                          Прибыль
12                Date                             Дата
13         MonthNumber                      Месяц номер
14           MonthName                            Месяц
15                Year                              Год

### Извлечение данных по условию

Использование условий позволяет выбирать только отвечающие условиям данные.

Примеры:

`fs[fs['SalePrice']>90] # отобрать результаты, для которых цена продажи больше 90`

В результате операции сравнения в квадратных скобках создается список из *True* и *False*, который показывает, какие строки *DataFrame* нужно оставить, а какие убрать.

`fs[fs['Discounts']>fs['Discounts'].mean()] # результаты, для которых сумма скидок превышает среднюю сумму скидок`

Условия можно комбинировать, используя операторы **&** (логическое И) и | (логическое ИЛИ).

`fs[(fs['Discounts']>fs['Discounts'].mean()) & (fs['UnitsSold']<fs['UnitsSold'].mean())].sort_values('Country') # сумма скидок выше среднего, продано товара ниже среднего по выборке`

`fs[fs['Segment']=='Enterprise']['COGS'].mean() # найти среднюю себестоимость товаров промышленного (Enterprise) сегмента`

Проверьте приведенные примеры в своих ноутбуках.

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.1</p>

Загрузите этот набор данных в таблицу *DataFrame*. Какова сумма валовых продаж (GrossSales) товаров, произведеных *Amarilla* для малого бизнеса?

In [ ]:
# 2.1. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.2</p>

Определите среднюю стоимость производства (ManufacturingPrice) товаров, выпущенных для Мексики стоимостью (SalePrice) выше, чем стоимость 70% товаров.

In [ ]:
# 2.2. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.3</p>

Найдите минимальную цену производства товара правительственого сегмента, для которого цена продажи ниже цены производства.

In [ ]:
# 2.3. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.4</p>

Какова средняя цена товара, стоимость производства которого ниже средней?

In [ ]:
# 2.4. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.5</p>

Во сколько раз средняя себестоимость (COGS) товаров промышленного сегмента (Enterprize) отличается от средней себестоимости товаров малого бизнеса?

In [3]:
# 2.5. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.6</p>

Какова суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo?

In [4]:
# 2.6. Ваш код здесь

## Раздел 3. Группировка данных

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.1</p>

Сколько разных систем скидок представлено в таблице?

In [5]:
# 3.1. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.2</p>

Какая из систем скидок применяется реже всего?

In [5]:
# 3.2. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.3</p>

Сколько раз представлены в выборке разные страны?

In [6]:
# 3.3. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.4</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [7]:
# 3.4. Ваш код здесь

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.5</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [8]:
# 3.5. Ваш код здесь